<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="ks-pdf-cv">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

  <script>
    /**
     * `ks-pdf-cv`
     *
     *
     * @customElement
     * @polymer
     *
     */
    class KsPdfCv extends Polymer.Element {
      static get is() { return 'ks-pdf-cv'; }
      static get properties() {
        return {
          userCv: {
            type: Object
          },
          templateCv: {
            type: Object
          },
          htmlPrint: {
            type: Object
          }
        }
      }

      static get observers() {
        return [
          '_templateForDownload(htmlPrint, userCv, templateCv)'
        ]
      }

      _templateForDownload(htmlPrint, userCv, templateCv) {
        if (htmlPrint !== undefined && userCv !== undefined && templateCv !== undefined) {
          html2canvas(htmlPrint, {
            onrendered: function(canvas) {
              const imgWidth = 207; 
              const pageHeight = 295;
              const imgHeight = canvas.height * imgWidth / canvas.width;
              let heightLeft = imgHeight;
              let position = 0;
              heightLeft -= pageHeight;
              const imgData = canvas.toDataURL('image/png');
              const doc = new jsPDF('p', 'mm');
              doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
              while (heightLeft >= 0) {
                position = heightLeft - imgHeight;
                doc.addPage();
                doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                heightLeft -= pageHeight;
              }
              doc.save( 'file.pdf');
            }
          });
        }
      }
    }

    window.customElements.define(KsPdfCv.is, KsPdfCv);
  </script>
</dom-module>
